@model Unifisio_WebAplicação.Models.Paciente

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DadosExerciciosPaciente</title>
</head>
<body>
    <div>
        <h4>Paciente</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CPF)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CPF)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Celular)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Celular)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sexo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sexo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Profissao)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Profissao)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EstadoCivil)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EstadoCivil)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Logradouro)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Logradouro)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NumeroCasa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumeroCasa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Bairro)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Bairro)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cidade)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cidade)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cep)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cep)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Estado)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DataNascimento)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Telefone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Telefone)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CelularResponsavel)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CelularResponsavel)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NomeResponsavel)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NomeResponsavel)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CpfResponsavel)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CpfResponsavel)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RazaoSocial)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RazaoSocial)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cnpj)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cnpj)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TelefoneConv)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TelefoneConv)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LogradouroConv)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LogradouroConv)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NumeroConv)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumeroConv)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BairroConv)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BairroConv)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CidadeConv)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CidadeConv)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CepConv)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CepConv)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UfConvenio)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UfConvenio)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TipoPlanos)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TipoPlanos)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ObsMedica)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ObsMedica)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Perguntar)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Perguntar)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Pergunta2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Pergunta2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Pergunta3)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Pergunta3)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Pergunta4)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Pergunta4)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Pergunta5)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Pergunta5)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Data)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Data)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Hora)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Hora)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Senha)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Senha)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Logado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Logado)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Tipo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Relatorio)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Relatorio)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DataRelatorio)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DataRelatorio)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.QtdRelatorio)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.QtdRelatorio)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Fisioterapeuta)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fisioterapeuta)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Avaliador)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Avaliador)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ExercicioFeitos)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ExercicioFeitos)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Ativo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ativo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Repeticoes)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Repeticoes)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Repeticoes2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Repeticoes2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Repeticoes3)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Repeticoes3)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Repeticoes4)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Repeticoes4)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Repeticoes5)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Repeticoes5)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Repeticoes6)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Repeticoes6)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Repeticoes7)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Repeticoes7)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Repeticoes8)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Repeticoes8)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Series)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Series)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Series2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Series2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Series3)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Series3)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Series4)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Series4)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Series5)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Series5)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Series6)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Series6)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Series7)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Series7)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Series8)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Series8)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Intervalos)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Intervalos)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Intervalos2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Intervalos2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Intervalos3)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Intervalos3)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Intervalos4)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Intervalos4)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Intervalos5)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Intervalos5)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Intervalos6)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Intervalos6)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Intervalos7)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Intervalos7)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Intervalos8)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Intervalos8)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Exercicios1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Exercicios1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Exercicios2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Exercicios2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Exercicios3)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Exercicios3)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Exercicios4)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Exercicios4)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Exercicios5)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Exercicios5)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Exercicios6)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Exercicios6)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Exercicios7)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Exercicios7)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Exercicios8)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Exercicios8)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DataExercicios)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DataExercicios)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Secao)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Secao)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
