@model IEnumerable<Unifisio_WebAplicação.Models.Paciente>

@{
    ViewBag.Title = "Lista de Pacientes";
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}
<br />
<div class="text-center">
    <h2>Lista de Pacientes</h2>
</div>


<p>
    @Html.ActionLink("Clique aqui para adicionar novo paciente", "Novo",null,new { @class = "btn btn-primary" })
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>      

            <th></th>

        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td align="right">
                @Html.ActionLink("Atualizar", "Editar", new { id = item.Id }, new { @class = "btn btn-primary" })
               
                @Html.ActionLink("Dados", "DadosPessoais", new { id = item.Id }, new { @class = "btn btn-success" })
                
                @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>

