@model Unifisio_WebAplicação.Models.Paciente

@{
    ViewBag.Title = "RelatorioDetalhes";
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}
<br />
<div class="text-center">
    <h2>Relatório</h2>
</div>

<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>      

        <dt>
            @Html.DisplayNameFor(model => model.Relatorio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relatorio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataRelatorio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataRelatorio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdRelatorio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdRelatorio)
        </dd>

    </dl>
</div>
