<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - UNIFISIO</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" sizes="255x255" href="~/img/LogoUNIFISIO.ico" />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand"><img src="~/img/logopng.png" style="width:15%" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" @Html.ActionLink("Página Inicial", "Index", "Home")</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">Logins</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" @Html.ActionLink("Portal Fisioterapeuta", "Index", "Login")</a>
                        <a class="dropdown-item" @Html.ActionLink("Portal Paciente", "LoginPaciente", "Paciente")</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @Html.ActionLink("Sobre", "About", "Home")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"@Html.ActionLink("Contato", "Contact", "Home")</a>
                </li>
            </ul>            
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <strong>UNIFISIO</strong>, todos os direitos reservados</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
